body {
  background-image: url("assets/bitcoin-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  text-align: center;
}
main {
  padding: 20px;
}

.chart-grid {
  display: flex;
  flex-direction: column; /* Default: vertical stack */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between chart containers */
}

.chart-container {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .chart-grid {
    flex-direction: row; /* Side-by-side layout */
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .chart-container {
    width: 42%; /* Adjust width for side-by-side layout */
  }
}
canvas {
  width: 100%;
  height: auto;
  aspect-ratio: 2;
}

h3 {
  margin-top: 40px;
}

p {
  font-size: 14px;
  padding: 20px;
}

input#search-bar {
  width: 90%;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .chart-container {
    padding: 10px;
    margin: 10px 0;
  }

  p {
    font-size: 14px;
    padding: 10px;
  }

  h3 {
    margin-top: 20px;
    font-size: 16px;
  }

  h2 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  input#search-bar {
    width: 90%;
    padding: 10px;
    font-size: 14px;
  }
}
